.classFooter ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
    li{
        background-color: rgb(47, 47, 47);
        margin: 10px;
        padding: 5px;
        border-radius: 7px;

        a{
            text-decoration: none;
            border-radius: 5px;
            color: aliceblue;

            &:hover{
                transition: all .5s ease;
                background-color: rgb(79, 79, 79);
                padding: 7px;
            }
        }
    }
}