.classFooter ul{
    @extend %displayFlexRow;
    list-style-type: none;
    li{
        background-color: rgb(47, 47, 47);
        margin: 10px;
        padding: 5px;
        border-radius: 7px;

        a{
            text-decoration: none;
            border-radius: 5px;
            color: aliceblue;

            &:hover{
                transition: all .5s ease;
                background-color: rgb(79, 79, 79);
                padding: 7px;
            }
        }
    }
}

.botonFooterFace{
    @include botonesFooter(rgb(30, 48, 170), 10px );
}

.botonFooterTw{
    @include botonesFooter(rgb(68, 82, 205), 10px );
}

.botonFooterInst{
    @include botonesFooter(rgb(204, 38, 154), 10px );
}