main{

    div{

        p{
            background-color: map-get($backroundColors, fondo_parrafo );
            padding-top: 1rem;
            border-radius: 10px;
            text-align: center;
            color: map-get($colorFonts, color_parrafo );
            font-size: 1.1rem;
            margin: 20px;
        }
    }

}