* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{ 
    background-color: rgb(23, 23, 23);
}

#tituloprincipal{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tituloprincipal a:hover{
    transition: .4s ease;
    border-left: solid rgb(243, 203, 4);
    border-width: 10px;
    font-weight: bold;
    color:rgb(254, 255, 240);
}

a{
    color: rgb(230, 230, 230);
    text-decoration: none;
}

p{
    color: aliceblue;
    font-size: 1.1rem;
    margin: 20px;
}

main div p{
    background-color: rgb(27, 27, 27);
    padding-top: 1rem;
    border-radius: 10px;
    text-align: center;
}

/* MEDIAQUERIES COMIENZO*/

@media (min-width: 1024px){
    .indexP{
        font-size: 1.3rem;
        line-height: 160%;
    }
}

/* MEDIAQUERIES FIN */

.bg-warning{
    padding: 5px;
}

.bordeTituloAmarillo{
    border-bottom: 5px solid rgb(243, 203, 4);
}

.footStyle a{
    padding: 3px;
    background-color: rgb(29, 29, 29);
    border-radius: 3px;

}
/* FORMULARIO */

.estiloLabel{
    color: aliceblue;
    margin: 20px;
}

